div{text-align: center;}
.quebradelinha {background-color: #4F81BD;
height: 1px;}
body {margin-top: 3cm;
margin-bottom: 2cm;
margin-left: 3cm;
margin-right: 2cm;}
.fonte1{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 28px;}
.fonte2{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 18px;}
.fonte3{font-family: 'Times New Roman', Times, serif;font-size: 15px;}